
    @font-face {
	    font-family: "Experiment";
	    src: url("Shadier.woff2");
    }

    @font-face {
      font-family: "Variable";
      src: url("Shadier.woff2");
    }

	

    .experimentalfont {
		font-size:24px;
	    color:black;
	    font-family: "Experiment";
      }

    .variable {
	font-size:24px;
      color: black;
      font-family: "Variable";
	  font-stretch: 0%;
	  font-variation-settings: 'wdth' 0;
    }

	.variable:hover {
		  font-stretch: 100%;
		  font-variation-settings: 'wdth' 100;
		}


	#bigletter {
		font-family: "Variable";
		font-variation-settings: 'wdth' var(--wdth);
	}
