@font-face {
    font-family: 'Shadier';
    src: url('Shadier.woff2');
 }
 
 h1{
     font-family: 'Shadier';
     font-weight:bolder;
     font-style: bold;
     font-size: 30px;
 }

 h2{
     font-family: 'Shadier';
     font-size: 30px;
     font-weight: 600;
     font-size: 30px;
 }

 h3{
    font-family: 'Shadier';
    font-style: italic;
    font-weight: 400; 
    font-size: 30px;
 }

 h4{
    font-family: 'Shadier';
    font-style: italic;
    font-weight: 200; 
    font-size: 30px;
 }

 #landing{
     display: scroll;
    width: 100%;
    width: 1200px;
    height: 400px;
}



 .poem{
     display: scroll;
     width: 1200px;
     height: 500px;
 }

 .line1{
     text-align: center;
     padding-top: 25%;
     padding-bottom: 25%;

 }

 .line1:hover{
    color: transparent;
    text-shadow: 0 0 10px black;

}
 .line2{
    text-align: center;
    font-weight: 600px;
    padding-top: 25%;
    padding-bottom: 25%;

}

.line2:hover{
    color: transparent;
    text-shadow: 0 0 10px black;

}

.line3{
    text-align: center;
    font-weight: 400px;
    padding-top: 25%;
    padding-bottom: 25%;

}

.line3:hover{
    color: transparent;
    text-shadow: 0 0 10px black;

}

.line4{
    text-align: center;
    font-weight: 200px;
    padding-top: 25%;
    padding-bottom: 30%;

}

.line4:hover{
    color: transparent;
    text-shadow: 0 0 10px black;

}