@font-face {
    font-family: 'Shadier';
    src: url('Shadier.woff2');
 }

 @font-face {
     font-family: 'Shadier-Regular';
     src: url('Shadier/Shadier-Regular.ttf');
 }

 @font-face {
    font-family: 'Shadier-Awkward';
    src: url('Shadier/Shadier-awkward.ttf');
}

@font-face {
    font-family: 'Shadier-Dissipate';
    src: url('Shadier/Shadier-dissipate.ttf');
}

@font-face {
    font-family: 'Shadier-Dissipate-italic';
    src: url('Shadier/Shadier-dissipateitalic.ttf');
}


 
 h1{
     font-family: 'Shadier-Regular';
     font-weight:bolder;
     font-style: bold;
     font-size: 30px;
 }

 h2{
     font-family: 'Shadier-Awkward';
     font-size: 30px;
     font-weight: 600;
     font-size: 30px;
 }

 h3{
    font-family: 'Shadier-Dissipate';
    font-style: italic;
    font-weight: 400; 
    font-size: 30px;
 }

 h4{
    font-family: 'Shadier-Dissipate-italic';
    font-style: italic;
    font-weight: 100; 
    font-size: 30px;
 }

 #landing{
     position: relative;
     text-align: center;
     display: scroll;
    width: 100%;
    width: 1200px;
    height: 400px;
}



 .poem{
     display: scroll;
     width: 1200px;
     height: 500px;
 }

 .line1{
     text-align: center;
     position: absolute;
     padding-top: 25%;
     padding-bottom: 25%;
     padding-left: 20%;

 }

 .line1:hover{
    color: transparent;
    text-shadow: 0 0 5px black;

}
 .line2{
    text-align: center;
    position: absolute;
    font-weight: 600px;
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 20%;

}

.line2:hover{
    color: transparent;
    text-shadow: 0 0 5px black;

}

.line3{
    text-align: center;
    position: absolute;
    font-weight: 400px;
    padding-top: 25%;
    padding-bottom: 5%;
    padding-left: 20%;

}

.line3:hover{
    color: transparent;
    text-shadow: 0 0 10px black;

}

.line4{
    text-align: center;
    position: absolute;
    font-weight: 200px;
    padding-top: 25%;
    padding-bottom: 5%;
    padding-left: 18%;

}

.line4:hover{
    color: transparent;
    text-shadow: 0 0 10px black;

}

.summer{
    width: 1200px;
    display: inline;
}

.fall{
    width: 1200px;
    display: inline;
}

.winter{
    width: 1200px;
    display: inline;
}

.spring{
    width: 1200px;
    display: inline;
}