
*{
	margin: 0;
}

body{
	font-size: 18px;
	font-family: gimlet-text, serif;
	font-weight: 500;
	font-style: normal;
}
  
.container {
	display: flex;
	column-gap: .5em;
  }

.container-2 {
    overflow: scroll;
    height: 600px;
}
  
.img {
	flex: 1;
	width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.copy {
	flex: 0;
	column-width: 300px;
    margin-right: 5%;
}